* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.navbar {
  height: 50px;
  background-color: none;
  z-index: 1;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  padding: 15px;
}

.navbar ul li a {
  color: #f2f2f2;
  font-size: 1.5rem;
  text-decoration: none;
}

.home {
  width: 100%;
  position: relative;
  top: -50px;
  height: 650px;
  z-index: -1;
  background-image: linear-gradient(-45deg, #0d6efd, #dc3545, #dc3545);
}

.content {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content img {
  width: 500px;
}

.home-content {
  padding: 50px;
  width: 500px;
}

.heading {
  font-weight: bolder;
  font-size: 3.2rem;
  margin-bottom: 30px;
  color: #f2f2f2;
}

.home-content button {
  width: 150px;
  height: 50px;
  padding: 10px;
  margin: 0px 10px;
  font-size: 1.5rem;
  border-radius: 10px;
}

.button1 {
  border: 1px solid #f2f2f2;
}

.button2 {
  background: none;
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.about {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-content {
  display: flex;
  width: 380px;
  margin: -150px 0px -70px 5px;
}

.about-icon {
  padding: 30px 15px 0px 0px;
}

.text-upper {
  font-weight: bold;
  font-size: 2rem;
}

.text-lower {
  font-size: 1.3rem;
  color: #585858;
}

.logo-1 {
  width: 200px;
  height: 35px;
  background-image: url("bizinsider.png");
  background-size: cover;
}

.logo-2 {
  width: 200px;
  height: 30px;
  background-image: url("mashable.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-3 {
  width: 200px;
  height: 30px;
  background-image: url("techcrunch.png");
  background-size: cover;
}

.logo-4 {
  width: 100px;
  height: 30px;
  background-image: url("tnw.png");
  background-size: cover;
}

.heading2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.testinomial {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f6f6f6;
}

.test {
  width: 100px;
  border-radius: 50%;
}

.company {
  width: 80%;
  display: flex;
  gap: 30px;
}

.test-head {
  width: 100%;
  padding: 0px 10%;
}

.test-head p {
  text-align: center;
}

.price {
  display: flex;
  margin: 50px;
  padding: 20px 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.price-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-text .text1 {
  text-align: center;
  font-weight: bold;
  font-size: 3.5rem;
  color: #303030;
}

.price-text .text2 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  color: #585858;
}

.price-hold {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}

.price-details {
  width: 300px;
  height: 220px;
  border-radius: 8px;
  margin: 5px;
  border: 1px solid #a3a1a1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#head1,
#head2 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#head3 {
  background-color: #292929;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.price-head {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 550;
  font-size: 2rem;
  border-bottom: 1px solid #adacac;
  background-color: #f6f6f6;
}

.price-money {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
  color: #292929;
}

.price-money span {
  font-size: 2rem;
  color: #585858;
}

.price-text-middle {
  text-align: center;
  color: #3b3b3b;
  font-size: 1.3rem;
}

.price-details button {
  width: 90%;
  height: 50px;
  background-color: white;
  margin-top: 10px;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 8px;
}
button {
  cursor: pointer;
}

#but1:hover {
  background-color: #292929;
  color: white;
}

#but2,
#but3 {
  background-color: #292929;
  color: white;
}

#but2:hover,
#but3:hover {
  background-color: #555555;
  border: transparent;
}

.footer {
  height: 40px;
  background-color: #dc3545;
  display: flex;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1050px) {
  .content img {
    width: 480px;
    position: relative;
    top: 30px;
  }
  .home-content button {
    width: 140px;
    height: 45px;
    padding: 8px;
    margin: 10px 3px;
  }
  .price {
    margin: 20px;
    padding: 20px 0;
  }
  .price-hold {
    gap: 15px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1000px) {
  .navbar ul li a {
    font-size: 1.3rem;
  }

  .home {
    height: 550px;
  }

  .home-content button {
    padding: 6px;
  }

  .content img {
    width: 400px;
  }

  .text-upper {
    font-size: 1.7rem;
  }

  .text-lower {
    font-size: 1rem;
  }

  .testinomial {
    height: 450px;
  }

  .company {
    gap: 15px;
  }

  .price {
    margin: 15px;
  }
  .price-hold {
    justify-content: center;
  }

  .price-text .text1 {
    font-size: 3.2rem;
  }

  .price-text .text2 {
    margin-top: 6px;
    font-size: 1.3rem;
  }

  .price-details {
    width: 380px;
    height: 240px;
  }
}

@media screen and (max-width: 900px) {
  .content img {
    width: 380px;
  }

  .content {
    padding: 40px;
  }

  .home-content {
    padding: 40px 30px 0px 10px;
    width: 450px;
  }

  .company {
    width: 95%;
    gap: 20px;
  }

  .price {
    margin: 10px;
  }

  .price-text .text1 {
    font-size: 3rem;
  }

  .price-details {
    width: 350px;
  }
}

@media screen and (max-width: 800px) {
  .home {
    height: 480px;
  }

  .content {
    padding: 50px 20px 0px 40px;
  }

  .home-content {
    padding: 40px 20px 0px 10px;
  }

  .heading {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .content img {
    width: 350px;
  }

  .home-content button {
    width: 120px;
    height: 40px;
    padding: 8px;
    margin: 0px 3px;
    font-size: 1.2rem;
  }
  .testinomial {
    height: 400px;
  }

  .test-head {
    padding: 0px 4%;
  }

  .test {
    width: 150px;
  }

  .company {
    width: 100%;
    gap: 10px;
  }

  .price-text .text1 {
    font-size: 2.8rem;
  }

  .price-details {
    width: 320px;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    background-color: #dc3545;
  }

  .navbar ul li a {
    font-size: 1.5rem;
  }

  .home {
    top: 0px;
    height: 700px;
  }
  .content {
    flex-direction: column;
    padding: 40px 20px 10px 40px;
  }

  .home-content {
    width: 400px;
    padding: 15px 25px;
  }

  .heading {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .content img {
    width: 350px;
  }

  .home-content button {
    width: 150px;
    height: 50px;
    padding: 10px;
    margin: 0px 3%;
    font-size: 1.5rem;
  }

  .about {
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
  }

  .about-content {
    width: 380px;
    margin: 0px;
  }

  .about-icon {
    padding: 20px;
  }

  .text-upper {
    font-size: 2.2rem;
  }

  .text-lower {
    font-size: 1.5rem;
  }

  .testinomial {
    height: 500px;
  }

  .test-head {
    padding: 0px 15px;
  }

  .test-upper {
    font-size: 1.65rem;
  }

  .test-lower {
    font-size: 1.3rem;
  }

  .company {
    width: 420px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .price-text .text1 {
    font-size: 2rem;
  }

  .price-text .text2 {
    margin-top: 5px;
    font-size: 1.1rem;
    color: #585858;
  }

  .price-hold {
    gap: 25px;
  }

  .price-details {
    width: 400px;
    height: 250px;
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .navbar ul li {
    padding: 10px;
  }

  .navbar ul li a {
    font-size: 1.1rem;
  }

  .home {
    height: 550px;
  }

  .content {
    padding: 0px;
  }

  .home-content {
    width: 300px;
    padding: 15px 15px;
  }

  .heading {
    font-size: 2.5rem;
  }

  .content img {
    width: 280px;
  }

  .home-content button {
    width: 120px;
    height: 40px;
    padding: 10px;
    margin: 0px;
    font-size: 1.2rem;
  }

  .about {
    height: 330px;
  }

  .about-content {
    width: 290px;
  }

  .about-icon {
    padding: 10px;
  }

  .text-upper {
    font-size: 1.7rem;
  }

  .text-lower {
    font-size: 1.2rem;
  }

  .testinomial {
    height: 500px;
  }

  .test-head {
    padding: 0px 10px;
  }

  .test-upper {
    font-size: 1.5rem;
  }

  .test-lower {
    font-size: 1rem;
  }

  .test {
    width: 120px;
  }

  .company {
    width: 200px;
    gap: 15px;
  }

  .price-text .text1 {
    font-size: 1.9rem;
  }

  .price-text .text2 {
    margin-top: 10px;
    font-size: 1rem;
  }

  .price-hold {
    gap: 10px;
  }

  .price-details {
    width: 290px;
    height: 250px;
  }
}

@media screen and (max-width: 300px) {
  .navbar ul li {
    padding: 7px;
  }

  .home {
    height: 480px;
  }

  .home-content {
    width: 100vw;
    padding: 10px;
  }

  .heading {
    font-size: 2.3rem;
  }

  .content img {
    width: 250px;
  }

  .about {
    height: 300px;
  }

  .about-content {
    width: 100vw;
  }

  .about-icon {
    padding: 20px 5px 0px 10px;
  }

  .text-upper {
    font-size: 1.5rem;
  }

  .text-lower {
    font-size: 1.1rem;
  }

  .price-text .text1 {
    font-size: 2rem;
  }

  .price-text .text2 {
    margin-top: 10px;
    font-size: 1.1rem;
  }

  .price-hold {
    gap: 10px;
  }

  .price-details {
    width: 97vw;
    height: 250px;
  }

  .price-head {
    font-size: 1.8rem;
  }

  .price-money {
    font-size: 2.5rem;
  }
}
